.card{
	overflow: hidden;
}

.menu{
	width: 415px; 
	height: 250px; 
	object-fit: cover;
}

.kantin{
	width: 225px;
	height: 225px; 
	margin: 0 auto; 
	margin-top: 25px; 
	object-fit: cover;
}

.form-control {
    width: 335px;
    margin: 0 auto;
  }

